@{
    ViewData["Title"] = "Home Page";
}

@*<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/images/screen1/Banner Photo.jpg" alt="First slide">
            </div>
        </div>
    </div>*@
@*<img class="img-fluid" src="~/images/screen1/Banner Photo.jpg" />*@
@*<div class="text-center">
    </div>*@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/images/screen1/Banner Photo.jpg" alt="First slide">
        </div>
    </div>
</div>

<!-- Page Content -->
<section class="py-5">
    <div class="container-fluid">
        <div class="row p-5">
            <div class="col-6">
                <h1 class="feature-heading">FRESH FOOD FOR A FRESHER YOU</h1>
                <p class="lead"><em>Quality food, quality life.</em></p>
            </div>
            <div class="col-6">
                <img src="~/images/screen2/Side image.png" class="img-fluid" />
            </div>
        </div>
        <div class="row p-5">
            <div class="col-4 text-center">
                <figure class="figure">
                    <img src="~/images/screen2/clock.png" class="figure-img rounded w-25" height="100" alt="figure.">
                    <figcaption class="figure-caption"><strong><em>Online Anywhere</em></strong></figcaption>
                </figure>
            </div>
            <div class="col-4 text-center">
                <figure class="figure">
                    <img src="~/images/screen2/delivery-truck.png" class="figure-img rounded w-25" height="100" alt="figure.">
                    <figcaption class="figure-caption"><strong><em>Fast Delivery</em></strong></figcaption>
                </figure>
            </div>
            <div class="col-4 text-center">
                <figure class="figure">
                    <img src="~/images/screen2/support.png" class="figure-img rounded w-25" height="100" alt="figure.">
                    <figcaption class="figure-caption"><strong><em>24/7 Support</em></strong></figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>