@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-4 col-md-3">
        <ul class="list-group">
            <li class="list-group-item border-0"><a href="#">On Sales!</a></li>
            <li class="list-group-item border-0"><a href="#">New</a></li>
            <li class="list-group-item border-0"><a href="#">Shop by Store</a></li>
            <li class="list-group-item border-0"><a href="#">Fruit and Veg</a></li>
            <li class="list-group-item border-0"><a href="#">Meat &amp; Seafood</a></li>
            <li class="list-group-item border-0"><a href="#">Dairy and Chilled</a></li>
            <li class="list-group-item border-0"><a href="#">Bakery</a></li>
            <li class="list-group-item border-0"><a href="#">Beverages</a></li>
        </ul>
    </div>
    <div class="col-sm-8 col-md-9">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="shop__thumb">
                    <a href="#">
                        <div class="shop-thumb__img">
                            <img src="~/images/screen3/Untitled-1.png" class="img-responsive rounded img-thumbnail" alt="...">
                        </div>
                    </a>
                    <h5 class="shop-thumb__title">
                        Ripe Blue Grape
                    </h5>
                    <div class="shop-thumb__price">
                        Packet
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="shop__thumb">
                    <a href="#">
                        <div class="shop-thumb__img">
                            <img src="~/images/screen3/Untitled-1.png" class="img-responsive rounded img-thumbnail" alt="...">
                        </div>
                    </a>
                    <h5 class="shop-thumb__title">
                        Ripe Blue Grape
                    </h5>
                    <div class="shop-thumb__price">
                        Packet
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="shop__thumb">
                    <a href="#">
                        <div class="shop-thumb__img">
                            <img src="~/images/screen3/Untitled-1.png" class="img-responsive rounded img-thumbnail" alt="...">
                        </div>
                    </a>
                    <h5 class="shop-thumb__title">
                        Ripe Blue Grape
                    </h5>
                    <div class="shop-thumb__price">
                        Packet
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="shop__thumb">
                    <a href="#">
                        <div class="shop-thumb__img">
                            <img src="~/images/screen3/Untitled-1.png" class="img-responsive rounded img-thumbnail" alt="...">
                        </div>
                    </a>
                    <h5 class="shop-thumb__title">
                        Ripe Blue Grape
                    </h5>
                    <div class="shop-thumb__price">
                        Packet
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="shop__thumb">
                    <a href="#">
                        <div class="shop-thumb__img">
                            <img src="~/images/screen3/Untitled-1.png" class="img-responsive rounded img-thumbnail" alt="...">
                        </div>
                    </a>
                    <h5 class="shop-thumb__title">
                        Ripe Blue Grape
                    </h5>
                    <div class="shop-thumb__price">
                        Packet
                    </div>
                </div>
            </div>
        </div> <!-- / .row -->
        <!-- Pagination -->
        <div class="row">
            <div class="col-sm-12">

                <ul class="pagination pull-right">
                    <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .col-sm-8 -->
</div>

@*<div class="row">
        <div class="col-md-3 store-menu">
            <ul class="nav">
                <li><a>Sport</a></li>
                <li><a>Sport</a></li>
                <li><a>Sport</a></li>
                <li><a>Sport</a></li>
                <li><a>Sport</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="col-md-6 col-sm-6">
                <div class="store-item">
                    <div class="store-item-image">
                        <a href="#">
                            <img src="https://via.placeholder.com/500x200/FFB6C1/000000" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="store-item-info clearfix">
                        <span class="store-item-price themed-color-dark pull-right">$ 109</span>
                        <a href="#"><strong>Product one</strong></a><br>
                        <small>
                            <i class="fa fa-shopping-cart text-muted"></i>
                            <a href="#" class="text-muted">Add to cart</a>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="store-item">
                    <div class="store-item-image">
                        <a href="#">
                            <img src="https://via.placeholder.com/500x200/87CEFA/000000" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="store-item-info clearfix">
                        <span class="store-item-price themed-color-dark pull-right">$ 109</span>
                        <a href="#"><strong>Product two</strong></a><br>
                        <small>
                            <i class="fa fa-shopping-cart text-muted"></i>
                            <a href="#" class="text-muted">Add to cart</a>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="store-item">
                    <div class="store-item-image">
                        <a href="#">
                            <img src="https://via.placeholder.com/500x200/FF7F50/000000" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="store-item-info clearfix">
                        <span class="store-item-price themed-color-dark pull-right">$ 109</span>
                        <a href="#"><strong>Product</strong></a><br>
                        <small>
                            <i class="fa fa-shopping-cart text-muted"></i>
                            <a href="#" class="text-muted">Add to cart</a>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="store-item">
                    <div class="store-item-image">
                        <a href="#">
                            <img src="https://via.placeholder.com/500x200/20B2AA/000000" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="store-item-info clearfix">
                        <span class="store-item-price themed-color-dark pull-right">$ 109</span>
                        <a href="#"><strong>Sunglasses</strong></a><br>
                        <small>
                            <i class="fa fa-shopping-cart text-muted"></i>
                            <a href="#" class="text-muted">Add to cart</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>*@