@{
    ViewData["Title"] = "Home Page";
}
<div class="row p-3">
    <div class="col-6">
        <div class="pro-img-details">
            <img src="~/images/screen3/Untitled-1.png" class="img-fluid img-thumbnail rounded" />
        </div>
        @*<div class="pro-img-list">
                <a href="#">
                    <img src="https://via.placeholder.com/115x100/87CEFA/000000" alt="">
                </a>
                <a href="#">
                    <img src="https://via.placeholder.com/115x100/FF7F50/000000" alt="">
                </a>
                <a href="#">
                    <img src="https://via.placeholder.com/115x100/20B2AA/000000" alt="">
                </a>
                <a href="#">
                    <img src="https://via.placeholder.com/120x100/20B2AA/000000" alt="">
                </a>
            </div>*@
    </div>
    <div class="col-6">
        <h4 class="pro-d-title">
            <a href="#" class="">
                Leopard Shirt Dress
            </a>
        </h4>
        <p>
            Praesent ac condimentum felis. Nulla at nisl orci, at dignissim dolor, The best product descriptions address your ideal buyer directly and personally. The best product descriptions address your ideal buyer directly and personally.
        </p>
        <div class="form-group">
            <label>Quantity</label>
            <input type="number" value="1" class="form-control quantity">
        </div>
        <p>
            <button class="btn btn-round btn-danger" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
        </p>
    </div>
</div>